body {
  font-family: Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  margin: 0;
}

.container {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.choices {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

button {
  padding: 10px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s, transform 0.3s;
}

button img {
  width: 50px;
  height: 50px;
}

button:hover {
  background-color: #d0d0d0;
  transform: translateY(-5px);
}

.result {
  margin-top: 30px;
}

#userChoice,
#computerChoice,
#resultText {
  margin: 10px 0;
  font-size: 1.2rem;
}

#resultText {
  font-weight: bold;
  font-size: 1.5rem;
  color: #5151e5;
  transition: color 0.3s;
}
